body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.bar {
  height: 4px;
  width: 100%;
  background-color: black;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Menu Styles */
.menu {
  display:none;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: auto;
  z-index: 99;
  border: 20 20 20 20;
  animation: fadeOut 0.3s ease-in;
}

.menu.open {
  display:flow-root;
  float:top;
  animation: fadeIn 0.3s ease-in;
}
.menu.on{
  background-color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(0px);
  }
  to {
    opacity: 1;
    transform: translateX(100);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(100);
  }
  to {
    opacity: 0;
    transform: translateX(0px);
  }
}

.menu ul {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  margin: 0px;
  justify-content: space-around;
}

.menu ul li {
  margin: 20px 0;
}

.menu ul li a {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.burger-icon .bar:nth-child(1).open {
  transform: translateY(9px) rotate(45deg);
}

.burger-icon .bar:nth-child(2).open {
  opacity: 0;
}

.burger-icon .bar:nth-child(3).open {
  transform: translateY(-9px) rotate(-45deg);
}