/* Burger menu icon */
.burger-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 30px;
  margin: 20px;
}

.bar {
  height: 4px;
  background-color: black;
  transition: all 0.3s unset;
}

/* Menu Styles */
.menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  height: 100vh;
  background-color: white;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 1001;
}

.menu.open {
  left: 0;
}

.menu ul {
  list-style: none;
  padding: 0;
  
}

.menu li {
  margin: 20px 0;
  
}

/* Dark mode toggle (optional styling) */
.menu a.on {
  color: red;

}

/* Overlay for blur and blocking clicks */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter:blur(1px);
  background: rgba(0, 0, 0, 0.3);
  z-index:1000;
}
.arrow{

  cursor: pointer;
  display:flex;
  flex-direction: row;
  gap: 5px;
  width: 30px;
  margin: 20px; 
  height: 4px;
  background-color: pink;
  transition: all 0.3s unset;

}
